body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* login */

.logincontainer{
  text-align: center;
  align-items: center;
  width: 50%;
  margin-left: 28%;

  margin-top: 5%;
  margin-bottom: 10%;

}
.form-control{
  padding: 20px;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}

/* //howtowork */
.mainhowwork {
  text-align: center;
  justify-content: center;
  padding: 1%;
  padding-bottom: 5%;

}
.btncheckout{
  width: 60%;

}

.howitworktxt {
  margin-top: 100px;
  letter-spacing: 5px;
  font-size: 22px;
}

.rowdiv {
  display: flex;
  flex-direction: row;

}

.columndiv {
  display: flex;
  flex-direction: column;

  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10px;
}

.how-step-image {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.how-step-number {
  margin-top: 10px;
  margin-bottom: 10px;
}

.para {
  margin-top: 0px;
  width: 80%;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
}

.buttonwork {
  margin-bottom: 20px;
}

/* our clients */


.rowdivclient {
  display: flex;
  flex-direction: row;
  background-color: #277e85;

}

.columndivclient {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
}

.heiglight_img {
  margin-left: 0%;
  height: 100px;
  width: 100px;

}

.highlights__text {
  color: white;
}

/* pricing */
.pricing-item-title {
  letter-spacing: 4px;
  font-size: 15px;
  margin-top: 10px;
}

.pricing-item-description {
  letter-spacing: 4px;
  font-size: 15px;
}

.pricetxt {
  margin-top: 50px;
  letter-spacing: 5px;
  font-size: 22px;
}

.rowdivprice {
  display: flex;
  flex-direction: row;
}

.columndivprice {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 12%;
  margin-right: 12%;
}

.title_maindiv {
  padding-top: 50px;
  margin-left: 30px;
  text-align: center;



}

.title_div {
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  display: inline;

}

.prices-title {
  margin: 0 0 10% 0;
  display: inline;
  text-align: center;
}

.price_search {
  display: inline;
}

.prices-search-input {
  margin-left: 10%;
  width: 40%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
}

.mybutton {
  background-color: white;
  color: #777;
  width: 250px;
  padding-left: 10px;

  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.mybutton.active {
  background-color: #277e85;
  color: white;
  width: 250px;
  padding-left: 10px;

  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #277e85;
}

.divheight {
  width: 100px;
  display: inline;
  margin-left: 30px;
  margin-right: 10px;
}

.serviceclass {
  margin-left: 30px;
  margin-right: 10px;
  text-align: left;
  padding: 5px;

  letter-spacing: normal;
  width: 450px;
}

.serviceclassinner {
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding: 5px;
  font-size: large;

  letter-spacing: normal;
  width: 450px;
}

.spanelement {
  margin-right: 3%;
  font-size: 27px;
}

/* service method */

.mainserviceclass {
  text-align: center;
  margin-top: 100px;
  display: flex;
  margin-left: 80px;
  flex-direction: row;
}

.prices-feature-item {
  display: flex;
  flex-direction: column;

}

.prices-feature-icon-cont {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: 28%;
  margin-bottom: 20px;
}

.prices-feature-details {
  width: 70%;
}

/* price support */

.pricesupport {
  text-align: center;
  background-color: #277e85;
  color: white;
  padding: 50px;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}


/* service css */

.mainservicesdiv {
  text-align: center;
  background-color: #277e85;
  color: white;




}

.service-list-title {
  letter-spacing: 5px;
  color: white;
  background-color: #277e85;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  font-size: 30px;


}

.service-card {

  text-align: center;

  margin-bottom: 40px;

}

.service-card-icon {
  width: 50px;
  height: 50px;
  margin-top: 30px;

}

.service-card-title {
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.service-card-link {}

.infopricebutton {
  background-color: #277e85;
}

.myButton {
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
}

.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #408c99;
  padding: 10%;
}

.android-link {
  /* // margin: 10%; */
  margin-left: 50px;
  margin-top: 100px;
  color: whitesmoke;
  font-size: 14px;
}

.ios-link {
  margin-left: 50px;
  margin-top: 100px;
  color: whitesmoke;
  font-size: 14px;
}

.footer-top-title {
  text-align: start;

  margin-bottom: 20px;
  color: whitesmoke;
}

.firstdiv {
  margin-left: 20px;
  text-align: center;
}

.footer-app-stores {

  margin-left: 0px;
  margin-right: 50px;
  text-align: start;


}

.iosapp {
  margin-top: 20px;
}

.footer-top-title4 {
  text-align: start;
  margin-top: 0px;
  margin-left: 50px;
  color: whitesmoke;
}

.sub2-newsletter-content {
  text-align: start;

}

.sub2-form-container {
  display: flex;
  flex-direction: row;
}

.sub2-input {
  border: 1px solid grey;
  width: 90%;
  height: 50px;
  padding-left: 20px;
}

.sub2-button {
  background-color: #277e85;
  color: white;
  border: none;
 padding-left: 18px;
 padding-right: 18px;
}

.title-wrapper {
  text-align: center;
  width: 100%;
  height: 500px;
  letter-spacing: 12px;
  color: white;
  padding-top: 200px;
  opacity: 1;
  background-image: url("https://thumbs.dreamstime.com/z/happy-family-man-father-householder-child-laundry-happy-family-men-father-householder-child-daughter-laundry-99345343.jpg");
}

.title-wrapper2 {
  text-align: center;
  width: 100%;
  height: 400px;
  letter-spacing: 12px;
  color: black;



}

.h1style {
  color: black;

  text-align: center;


}

.bottomdiv {


  background-color: black;
  height: 500px;
  width: 100%;
}

.myButton2 {
  color: white;
  background-color: #277e85;
  border: none;
  margin-top: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.ServicedetailorderPlace {
  text-align: center;
}

.orderPlace {
  background-color: black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 15px;
  margin-top: 40px;
  color: white;
}

.services-description {
  padding-left: 100px;
  padding-right: 100px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 20px;
  max-width: 600px;

  color: #277e85;
  border: .5px solid #9C9C9C;


}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.text-right {
  margin-top: 200px;
}

.text-info {
  text-decoration: none;
  color: #277e85;

}

.form {
  width: 100%;
  margin-left: 7%;
  margin-right: auto;
}

.divsize {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.autoplace {
  width: 50px;
  background-color: hotpink;
}

.autoplacediv {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 5px;

  border: none;
}

.specialplace {
  width: 100%;
}

.location-search-input,
.location-search-input:focus,
.location-search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 13px;
  font-size: 14px;
  border-radius: 2px;
  outline: none;
}

.autocomplete-dropdown-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1000;
  border-radius: 0 0 2px 2px;
}

.mapbutton {
  padding: 0px;
  width: 100px;
  color: white;
  border-color: teal;
  border: none;
  margin-top: 20px;
  height: 48px;
  margin-left: 0px;
  background-color: darkcyan;
}

.buttontxt {
  width: 300px;
  height: 50px;
  background-color: rgb(99, 219, 219);
  border: rgb(143, 218, 218);
  color: white;
  padding: 5px;
}

.buttontxtdisable {
  width: 300px;
  height: 50px;
  background-color: rgb(167, 224, 224);
  color: white;
  padding: 5px;
}

.astyle {
  text-decoration: none;
  color: white;
}

.sizediv {
  width: 30%;
  margin: auto;
}

.braintreePayButton {
  margin-left: auto;
  display: flex;
  width: 300dp;
  background-color: #277e85;
}

#braintree-drop-in-div {
  min-height: 150px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttontxt21 {
  width: 20%;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: darkcyan;
  color: white;
  padding: 5px;
}

.designdropdownlist {
  width: 20%;
  background-color: white;
  margin-left: 10%;
  margin-right: auto;
  padding: 4px;

  text-align: left;
}

.designdropdownlist21inner {
  width: 100%;
}

.designdropdownlist22inner {
  width: 100%;
}

.datetimestyle {

  font-size: medium;

}

.designdropdownlist21 {
  width: 26%;
  padding: 5px;
  background-color: white;
  margin-left: 32%;
  height: 200px;

  overflow: auto;

  margin-right: auto;
  text-align: left;
}

.designdropdownlist22 {
  width: 26%;
  padding: 5px;
  background-color: white;
  margin-left: 54%;
  height: 200px;
  overflow: auto;

  margin-right: auto;
  text-align: left;
}

.maindivrow {
  display: flex;
  width: 70%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.divform {
  margin-top: 30px;
  text-align: center;
}

.registerinfo {
  margin-left: 0px;
  color: white;
  background-color: #277e85;
  border: none;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.form-group {
  margin-top: 30px;
}

.forgetpassword {
  text-align: center;
  margin-top: 30px;
}

.resetdiv {
  text-align: center;
  margin-top: 10%;
}

.reseth3 {
  margin-bottom: 20px;
}

.emailreset {
  width: 30%;

}




.splitScreen {
  display: 'inline-block';
 /* flexDirection: 'row'; */
}
.topPane {
  width: '100%';
  margin-left: 20%;
  margin-top: 2px;
  

}
.bottomPane {
  width: '100%';
  margin-left: 30%;
  margin-top: 0px;
  margin-bottom: 20%;
}

.ord-info__h4 {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.7;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}
.pending-fields {
  width: 380px;
  padding: 0;
}
input, select, textarea, .form-control {
  border: 1px solid #000;
  border-radius: 0;
  color: #000;
  display: inline-block;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 39px;
  letter-spacing: 2px;
  padding: 12px;
}

.StripeElement {
  margin: 15px auto;
  padding: 10px 12px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.product {
  width: 100%;
  max-width: 450px;
  margin: auto;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.btn-pay {
  display: block;
  width: 100%;
  border: none;
  background: linear-gradient(
    135deg,
    rgb(49, 0, 62) 0%,
    rgb(195, 40, 110) 100%
  );
  color: #fff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.cardfield{
  border: #26353b;
  border-style: solid;
  text-align: center;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.product-info {
  padding: 0 16px;
}

h3.product-title {
  font-size: 28px;
  margin-bottom: 15px;
}

h4.product-price {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: #777;
  font-weight: 500;
}
.form-group{
  margin-bottom: 25px;

}



/* media (min-width: 60em)
.pending-content {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 62px 0 102px;
} */
.pending-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    color: #000;
    background-color: #fff;
}
.successclass{
  width: 100%;
  margin: auto;
  margin-top: 15%;
  margin-left: 39%;
  font-size: large;

}

.btnback{
  width: 10%;
  margin-top: 10px;
}
.pending-information {
  flex-basis: 315px;
  margin-right: 145px;
  padding: 32px;
}

.divisiondiv{
  display: inline-block;
  width: 100%;
}

.pending-information ul li {

  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 5px;
  width: 100%;
  display: block;
}
.ord-info__icon{
  width: 25px;
  height: 25px;
}
/* @media (min-width: 60em)
.pending-content {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 62px 0 180px;
}
.pending-content {
    background: #ffffff;
    color: #000000;
} */




.inlinedev{
  display: inline-block;
  margin-right: 20px;
}
.inlinedev2{
  display: inline-block;
}
.ullist {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 20px;
  width: 50%;
}
.lilist {
  display: inline-block;
  width: 50%;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.in-put {
  font-size: 20px;
  width: 30%;
  height: 60px;
  padding: 10px;
  
  /* background-color: #277e85; */
  /* margin-bottom: 15%; */
  margin-top:10px;
  padding: 10px;
  color: black;
  

  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  font-size: 15px;
}
.changebtn{
  text-align: center;
  
}
.in-put::placeholder{
  color: black;


}

.bgplaceorder {
  background-color: rgb(14, 81, 14);
  color: white;
  border: rgb(19, 82, 19);
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10%;
}
.notshowplaceorder{
  background-color: #277e85;
  border: rgb(19, 82, 19);
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10%;
  margin-top: 25%;
}
.dropdown-selected-value{
  width: 80%;
  font-size: 15px;
  height: 40px;
  padding-top: 7px;
}
.dropdown-container {
  text-align: left;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  justify-content: space-between;
  user-select: none;
}

.pad{
  padding-left: 10px;
}
.donebtn{
  text-align: right;
  margin: 30px;
  color: #277e85;
  font-size: larger;
}

.dropdown-menu{
  position:absolute;
  width: 100%;
  height: 350px;

  display: inline-block;
  border: 1px solid white;
  margin-top: 90%;
  border-radius: 5px;
  overflow: auto;
  z-index: 100;
  background-color: white;
  transform: translateY(4px);
}

.dropdown-item{
cursor: pointer;
color: black;
text-align: center;
font-size: small;
display: block;
margin-top: 20px;
padding: 0;
}
.dropdown-item2{
  padding: 10px;
  cursor: pointer;
  color: blue;
  display: inline;
  margin: 0;
  padding: 0;
  
  }
.dropdown_item_div{
  display: inline-block;
  height: 400px;
}
.dropdown-item:hover{
background-color: white;
}
.dropdown-item.selected {
  background-color: #26353b;
  color: #fff;
  width: 100px;
  
  padding-top: 7px;
  padding-bottom: 7px;
}




.optionstyle{
  width: 400px;
  background-color: #ffffff;
  padding: 10%;
}
.labelsytle{
  width: 200px;
  margin: 50px;
  background-color: #277e85;
}
.in-put_collection {
  font-size: 20px;
  margin-bottom: 15%;
  width: 300px;
  margin-top: 5%;
  padding: 10px;
}


.sendlink {
  background-color: #277e85;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin: 5px;
  border-radius: 5px;
  padding-bottom: 5px;
  border: none;
}

.neworderservicesarea {

  background-color: #277e85;
  text-align: center;
  align-items: center;
}

.mdn-header__container {
  padding-top: 20px;
  color: white;
}

.subtitle {
  font-size: 17px;
  margin-top: 10px;
  letter-spacing: 6px;
}

.mdn-header__title {
  letter-spacing: 10px;
  font-size: 30px;
}

.btn-formservice {

  padding-left: 30px;
  padding-right: 30px;
  padding: 15px;
  margin-top: 0px;
  color: gray;
  margin-bottom: 100px;
}

.form-paraservice {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.formservice {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: large;
}

.alphabet {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: block;
}

.spanelement {
  display: block;
  letter-spacing: 4px;
  font-size: 15px;


}